---
import { Icon } from "astro-icon/components"
---
<div data-overlay class="fixed inset-0 bg-black md:hidden opacity-70 hidden"></div>
<header data-header class="flex fixed w-[300px] z-10 inset-0 bg-white transition-all duration-500 ml-[-300px] p-4 items-center justify-center text-[1.2rem] md:text-[1rem]
  md:justify-stretch md:relative md:inset-auto md:bg-transparent md:w-full md:ml-auto">
 <span data-cancel class="block md:hidden text-[2.5rem] absolute top-4 right-4"> <Icon data-cancel name="mdi:close-circle" /></span>

    <nav class="flex flex-col gap-6 md:flex-row md:justify-between md:w-full">
        <ul>
            <li class="text-[1.5em] md:text-[1em]"><a href="/" class="italic">School Name</a></li>
        </ul>
        <ul data-active="" class="flex flex-col gap-6 md:flex-row items-center">
            <li class="md:mx-2 font-bold transition hover:translate-x-1"><a data-link href="/" class="hover:text-green-400">Home</a></li>
            <li class="md:mx-2 font-bold transition hover:translate-x-1"><a data-link href="/about" class="hover:text-green-400">About</a></li>
            <li class="md:mx-2 font-bold transition hover:translate-x-1"><a data-link href="/branches" class="hover:text-green-400">Branches</a></li>
            <li class="md:mx-2 font-bold transition hover:translate-x-1"><a data-link href="/topper" class="hover:text-green-400">Topper</a></li>
            <!-- <li class="mx-2 font-bold"><a href="/media">Media</a></li> -->
            <li class="md:mx-2 font-bold transition hover:translate-x-1"><a data-link href="/blog" class="hover:text-green-400">Blog</a></li>
            <li class="font-bold transition hover:translate-x-1"><a data-link href="/contact" class="hover:text-green-400">Contact Us</a></li>
    
        </ul>
    </nav>
</header>

<script>
    // get path
    const path = window.location.href;
    // get nav links
    const navLinks = document.querySelectorAll<HTMLAnchorElement>("[data-link]");
        navLinks.forEach(link => {
            console.log(path,link.href);
            if(link.href === path){
           
            
                link.classList.add("text-green-600")
            }
        })
    // overlay element
    const overlay = document.querySelector('[data-overlay]') as HTMLDivElement;
    // header element
    const header = document.querySelector('[data-header]') as HTMLDivElement;
    // select the cancel button
    const cancelButton = document.querySelector('span[data-cancel]') as HTMLSpanElement;
    cancelButton.addEventListener("click", () => {
        
        header.classList.remove("ml-[0px]")
        header.classList.add("ml-[-300px]")
        overlay.classList.add("hidden")

    })
    // overlay
    overlay.addEventListener("click", () => {
        header.classList.remove("ml-[0px]")
        header.classList.add("ml-[-300px]")
        overlay.classList.add("hidden")

    })
    
</script>