---
import { Icon } from "astro-icon/components"
import MediaLinks from "../MediaLinks/MediaLinks.astro"
// color of icon
const color="white"
// background of circle icon
const bgColor = "black"
---
<div class="px-4 py-2 flex justify-between items-center text-[1rem] md:text-[0.75rem] border-b-[1px] bg-green-200">
    <ul >
        <li data-menu class="block md:hidden"><Icon name="mdi:menu" class="text-[1.4em]  cursor-pointer" /></li>
    </ul>
    <MediaLinks color={color} bgColor={bgColor}/>
</div>

