---
import MainHeader from '../components/Header/MainHeader.astro'
import TopHeader from '../components/Header/TopHeader.astro'
import '../styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>School Name</title>
		<script>
			import '../scripts/router.js';
		  </script>
	</head>
	<body>
		<div class="box">
			<TopHeader />
			<MainHeader />
			<main>
				<slot />
			</main>
		</div>
		
	</body>
</html>
