---
import MainHeader from '../components/Header/MainHeader.astro'
import TopHeader from '../components/Header/TopHeader.astro'
import '../styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="school website" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>School Name</title>
		<script>
			import '../scripts/router.js';
		  </script>
	</head>
	<body>
		<div class="container">
			<div class="header-container">
				<TopHeader />
				<MainHeader />
			</div>
			<main>
				<slot />
			</main>
		</div>
		
	</body>
</html>

<style>
	.header-container {
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
	}
</style>